<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Wiki Maps</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/mapsShow.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <!-- <script type="text/javascript" src="/scripts/map.js"></script> -->
</head>

<body id="site-body">
  <%- include('partials/_header') %>
  <div class="titleDiv">
  <h1><%= map.title %></h1>
    <button id="mapsShowStar" class="favoriteIcon" type="button" name="button">
      <i class="far fa-star"></i>
    </button>
  </div>


  <div id="mapDiv">
    <div id="map-container">
    </div>
  </div>
  <div class="buttonContainer">
    <% let editMap = `/maps/${map.id}/edit` %>
  <a href="<%= editMap %>"><button type="button" name="button" class="btn btn-primary">Edit Map</button></a>
  <% let deleteMap = `/maps/${map.id}/delete` %>
    <form method="POST" action='<%= deleteMap %>'><button type="submit" name="button" class = "btn btn-danger">Delete Map</button></form>
  </div>


  <script type="text/javascript">
    const getPins = '<%- JSON.stringify(pins) %>';
    const getUser = '<%- JSON.stringify(user) %>';
    const getMap = '<%- JSON.stringify(map) %>';
    const pinsData = JSON.parse(getPins);
    const userData = JSON.parse(getUser);
    const mapData = JSON.parse(getMap);

    let zoomStart = 2;
    let latStart = 0.0000;
    let lngStart = 0.0000;

    if (pinsData) {
      zoomStart = 12;
      latStart = Number(pinsData[0].latitude);
      lngStart = Number(pinsData[0].longitude);
    }

    function initMap() {

      const options = {
        zoom: zoomStart,
        center: {
          lat: latStart,
          lng: lngStart
        }
      };
      const map = new google.maps.Map(document.getElementById('map-container'), options);

      // Listen for click to add new pin
      google.maps.event.addListener(map, 'click',
      function(event){

          let latitude = event.latLng.lat();
          let longitude = event.latLng.lng();
          // Note: since google requires one long string for all html content, '' wrap quotes and + for all lines are necessary.
          let contentString = '<div class="pinContent">' +
          '<h2 class="pinTitle">New Pin</h2>' +
          '<form action="/pins/add" method="POST" class="newPin">' +
          '<input class="form-control hiddenForm" type="text" name="newLng" value="'+ longitude + '">' +
          '<input class="form-control hiddenForm" type="text" name="newLat" value="'+ latitude + '">' +
          '<input class="form-control hiddenForm" type="text" name="userID" value="'+ userData.id + '">' +
          '<input class="form-control hiddenForm" type="text" name="mapId" value="'+ mapData.id + '">' +
          '<div class="form-group">' +
          '<label for="newTitle">Title:</label>' +
          '<input class="form-control" type="text" name="newTitle" placeholder="My New Pin">' +
          "</div>" +
          '<div class="form-group">' +
          '<label for="newPinImg">URL for image:</label>' +
          '<input class="form-control" type="text" name="newPinImg" placeholder="http://www.example.com/img">' +
          "</div>" +
          '<div class="form-group">' +
          '<label for="newDescription">Description:</label>' +
          '<textarea class="form-control" id="newPinDescription" name="newDescription" rows="3"></textarea>' +
          "</div>" +
          '<button type="submit" class="btn btn-primary">Submit</button></form>' +
          '</div>'

          addMarker({
            coords: event.latLng,
            content: contentString
          });

        });

      const addMarker = function(properties) {
        const marker = new google.maps.Marker({
          position: properties.coords,
          map: map
        })
        const infoWindow = new google.maps.InfoWindow({
          content: properties.content
        })
        marker.addListener('click', function() {
          infoWindow.open(map, marker);
        })
      }


      for (let pin in pinsData) {
        
          // Note: since google requires one long string for all html content, '' wrap quotes and + for all lines are necessary.
        let contentString = '<div class="pinContent">' +
        '<h2 class="pinTitle">' + pinsData[pin].title + '</h2>' +
        '<img class="pinImg" src="' + pinsData[pin].pin_img + '" alt="Pin image">' +
        '<p class="pinDescription">' + pinsData[pin].description +'</p>' +
        '<div class="pinButtons">' +
        '<a href="pins/' + pinsData[pin].id + '/edit">' +
        '<button type="button" name="button" class="btn btn-outline-primary">Edit</button>' +
        '</a>' +
        '<form method="POST" action="/pins/' + pinsData[pin].id + '/delete">' +
        '<button type="submit" name="button" class = "btn btn-outline-danger">Delete</button>' +
        '</form>' +
        '</div>'
        addMarker({
          coords: {
            lat: Number(pinsData[pin].latitude),
            lng: Number(pinsData[pin].longitude)
          },
          content: contentString
        })
      }
    };
  </script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ4giylj9RqjZsVyjdOT7gUfk-WINx0yc&callback=initMap"></script>
</body>

</html>
