<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Wiki Maps</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/profile.css" type="text/css" />

  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body id="site-body">
  <%- include('partials/_header') %>
  <header id="profileHeader">
    <% let profileImg = `${user.profile_pic}` %>
    <img src="<%= profileImg %>" alt="Profile Picture">
    <div id="profileInfo">
      <h1><%= user.name %></h1>
      <h5><%= user.city %></h5>
    </div>
  </header>
  <div id="profileToggleDiv">
    <button type="button" class="btn btn-warning profileButton profileFavorites" data-toggle="button" aria-pressed="false" autocomplete="off">
      My Favorites
    </button>
    <div id="favoritesHider">
      <% for(let i = 0; i < userFavourite.length; i ++) { %>
        <% if(i % 2 === 0) { %>
        <div class="mapRow">
          <% } %>
          <div class="mapBox">
            <% let mapRef = `/maps/${userFavourite[i].id}` %>
            <a href='<%= mapRef %>'>
            <% let mapImg = `${userFavourite[i].thumbnail_img}` %>
            <div class="backgroundMapImg" style='background-image:url(<%= mapImg %>);'>
            </div>
            </a>
            <button class="favoriteIcon" type="button" name="button">
              <i class="far fa-star"></i>
            </button>
            <p class="mapDescription"><%= userFavourite[i].description %></p>
            <h4 class="mapTitle"><%= userFavourite[i].title %></h4>
          </div>
          <% if(i % 2 !== 0) { %>
        </div>
        <% } %>
    <% } %>
    </div>
    <button type="button" class="btn btn-secondary profileButton profileMyMaps" data-toggle="button" aria-pressed="false" autocomplete="off">
      My Maps
    </button>
    </div>

    <div id="myMapsHider">
      <% for(let i = 0; i < contributions.length; i ++) { %>
        <% if(i % 2 === 0) { %>
        <div class="mapRow">
          <% } %>
          <div class="mapBox">
            <% let mapRef = `/maps/${contributions[i].id}` %>
            <a href='<%= mapRef %>'>
            <% let mapImg = `${contributions[i].thumbnail_img}` %>
            <div class="backgroundMapImg" style='background-image:url(<%= mapImg %>);'>
            </div>
            </a>
            <button class="favoriteIcon" type="button" name="button">
              <i class="far fa-star"></i>
            </button>
            <p class="mapDescription"><%= contributions[i].description %></p>
            <h4 class="mapTitle"><%= contributions[i].title %></h4>
          </div>
          <% if(i % 2 !== 0) { %>
        </div>
        <% } %>
    <% } %>
    </div>
  </div>
  <div class="navButtonDiv">
    <button type="button" id="navButton" class="btn btn-dark hidden">Return to Top</button>
  </div>

</body>

</html>
